* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: black;
    color: white;
    height: 5vh;
}

nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li {
    font-size: larger;
    margin-top: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.gameContainer {
    display: flex;
    justify-content: center;
    justify-content: center;
    margin-top: 50px;
    flex-wrap: wrap;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 10vw);
    grid-template-rows: repeat(3, 10vw);
    font-family: sans-serif;
}

.box {
    border: 2px solid black;
    font-size: 8vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box:hover {
    background-color: rgb(255, 233, 233);
    cursor: pointer;
}

.gameInfo {
    margin-left: 50px;
}

.info {
    font-size: 1.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.imgbox img {
    width: 0;
    transition: width 2s ease-in-out;
}

.br-0 {
    border-right: 0;
}

.bl-0 {
    border-left: 0;
}

.bt-0 {
    border-top: 0;
}

.bb-0 {
    border-bottom: 0;
}

#reset {
    margin: 10px 30px;
    padding: 8px;
    background-color: rgb(229, 203, 253);
    cursor: pointer;
    border-radius: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@media screen and (max-width:700px) {
    #gameContainer {
        flex-wrap: wrap;
    }

    .gameInfo {
        margin-top: 50px;
    }

    .container {
        grid-template-columns: repeat(3, 15vw);
        grid-template-rows: repeat(3, 15vw);
    }
}